<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}{% endblock %}</title>
        {% block css %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}" />
        {% endblock %}
    </head>
    <style>
        :root {
            --underline-width: 155px;
        }
    </style>
    <body>
        <div class="wrapper">
            {% block wrapper %}{% endblock %}
        </div>
    </body>
    {% block script %}{% endblock %}
</html>
