{% extends "layout.html" %}

{% block title %}Strava Viewer - Login{% endblock %}

{% block css %}
    {{ super() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css"/>
{% endblock %}

{% block wrapper %}
    <h1>Log in your account</h1>
    {% include "flash_message.html" %}
    <form method="post" id="login-form">
        <div class="input-box">
            <input
                type="email"
                name="email"
                id="email-input"
                placeholder=""
                autocomplete="email"
                required
            />
            <label id="email-label" for="email-input">Email</label>
        </div>
        <div class="input-box">
            <input
                type="password"
                name="password"
                id="password-input"
                placeholder=""
                autocomplete="current-password"
                required
            />
            <label id="password-label" for="password-input">
                Password
            </label>
            <i
                id="show-password"
                class="fa-solid fa-eye show_password"
            ></i>
        </div>
        <div class="input-box button submit">
            <input type="submit" value="Login now" />
        </div>
    </form>
{% endblock %}

{% block script %}
    <script type="module" src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}