{% extends "layout.html" %}

{% block title %}Strava Viewer - Sign up{% endblock %}

{% block css %}
    {{ super() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css"/>
{% endblock %}

{% block wrapper %}
    <h1>Create your account</h1>
    {% include "flash_message.html" %}
    <form method="post" id="sign-up-form">
        {% if step == 1 %}
        <div class="text">
            <h2>Step 1 - Link your Strava</h2>
        </div>
        <div class="link-box clickable">
            <a id="strava-login" href="{{ strava_login_url }}">Login to Strava</a>
        </div>
        {% elif step == 2 %}
        <div class="text">
            <h2>Step 2 - Fulfill your informations</h2>
        </div>
        <div class="input-box">
            <input
                type="email"
                name="email"
                id="email-input"
                placeholder=""
                autocomplete="email"
                required
            />
            <label id="email-label" for="email-input">
                Email
            </label>
        </div>
        <div class="input-box">
            <input
                type="password"
                name="password"
                id="password-input"
                placeholder=""
                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                autocomplete="new-password"
                required
            />
            <label id="password-label" for="password-input">
                Password
            </label>
            <i
                id="show-password"
                class="fa-solid fa-eye show-password"
            ></i>
        </div>
        <div class="input-box">
            <input
                type="text"
                name="firstname"
                id="firstname-input"
                placeholder=""
                value="{{ firstname }}"
                autocomplete="given-name"
                required
            />
            <label id="firstname-label" for="firstname-input">
                First name
            </label>
        </div>
        <div class="input-box">
            <input
                type="text"
                name="lastname"
                id="lastname-input"
                placeholder=""
                value="{{ lastname }}"
                autocomplete="family-name"
                required
            />
            <label id="lastname-label" for="lastname-input">
                Last name
            </label>
        </div>
        <div class="input-box button submit">
            <input type="submit" value="Register now" />
        </div>
        {% endif %}
    </form>
    <h2>
        Already have an account ?
        <a href="login">Login now</a>
    </h2>
{% endblock %}

{% block script %}
    <script type="module" src="{{ url_for('static', filename='js/sign_up.js') }}"></script>
{% endblock %}
